<div class="end padding-right20">
    <div class="flex"># {{detail.id}}</div>
    <div class="vertical-line"></div>
    <div class="flex"><span class="fa fa-arrows-v icon-detail"></span> <span class="ver-super">{{detail.height}} </span></div>
    <div class="vertical-line"></div>
    <div class="flex"><span class="fa fa-arrows-h icon-detail"></span>  <span class="ver-super">   {{detail.width}}</span></div>
    <div class="vertical-line"></div>
  
    <div class="flex"><span class="fa fa-window-maximize icon-detail"></span> <span class="ver-super">    {{detail.author}}</span></div>
</div>