.list-style {
    //width: 25%;
}

.view-style {
   // width: 65%;
   margin-top: 40px;
}

.scroll {
    overflow-y: auto;
    height: 100vh;
   // width: 200px;
}

td.image-comp {
    vertical-align: baseline;
    text-align: -webkit-center;
}
.galery{
    width: 20%;
}

.text-right {
    text-align: right;
}